@font-face {
  font-family: "Roboto", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #142850;
  background-image: url("https://assets.website-files.com/62e54bf0dd3aac042e133d86/62e58d87f5e173189bd50acd_Noise.webp");
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#app {
  width: 1366px;
  max-width: 100%;
  margin: auto;
}

h1,
h2,
h3,
p,
div,
span {
  color: #e7f6f2;
}
